RELAY_HOST = relay.walletconnect.com

// Uncomment next line and paste your project id. Get this on: https://cloud.walletconnect.com/sign-in
PROJECT_ID = 9bfe94c9cbf74aaa0597094ef561f703

// Uncomment next line and paste dapp's project id to run all the notify tests
GM_DAPP_PROJECT_ID = b5dba79e421fd90af68d0a1006caf864

// Uncomment next line and paste dapp's project secret to run all the notify tests
GM_DAPP_PROJECT_SECRET = 3717ce4f-b0b1-46e5-a089-406fd88fa020

// Uncomment next line and paste js client's api host to run x-platform tests
JS_CLIENT_API_HOST = test-automation-api.walletconnect.com

WALLETAPP_SENTRY_DNS = dcf77dde3de2ef4aac52967b74b63ebe@o1095249.ingest.sentry.io/4505673576218624

CAST_HOST = notify.walletconnect.com
