RELAY_HOST = relay.walletconnect.com

// Uncomment next line and paste your project id. Get this on: https://cloud.walletconnect.com/sign-in
PROJECT_ID = 1012db890ca3cab0c1cdc929fdd657bf

// Uncomment next line and paste dapp's project id to run all the notify tests
// GM_DAPP_PROJECT_ID = GM_DAPP_PROJECT_ID

// Uncomment next line and paste dapp's project secret to run all the notify tests
// GM_DAPP_PROJECT_SECRET = GM_DAPP_PROJECT_SECRET

CAST_HOST = cast.walletconnect.com
